<div class="jumbotron p-3 p-md-5 text-white rounded bg-danger">
  <div class="col-md-12 px-0">
    <h1 class="display-5">Current Series</h1>
    <p class="lead my-3">

      <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0">
              <!-- <p class="text-dark">Career Gamer Score</p> -->
        </h3>
        <table class="table table-hover table-bordered table-dark ">
          <thead>
            <tr class="text-center text-uppercase">
            <th scope="col" >Date Played</th>
               <% @ordered_players.each do |player| %>
                  <th scope="col" style="background-color:#<%=player.color_code%>;"><%=player.name%></th>
              <% end %>
              <th scope="col" >Winner</th>
              <th scope="col" >Victor Scale</th>
            </tr>
          </thead>
          <tbody>
            <% @current_series.games.each do |game| %>
              <tr class="text-center  text-uppercase">
                <td><%= game.created_at.to_date %></td>
                <% @ordered_players.each do |player| %>
                  <td><%= @ordered_scores.find_by(player: player)&.score %></td>
                <% end %>
                <td style="background-color:#<%=Player.find(game.winner_id).color_code%>;"><%= Player.find(game.winner_id).name %></td>
                <td class='text-danger'><strong><%= game.victory_score %></strong></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br/> <br/>
        <div class="col-md-6 px-0 ">
        <table class="table table-hover table-bordered table-dark">
          <tbody>
            <tr class="text-center  text-uppercase">
              <td>Series Leader</td>
              <td style='background-color:#<%= PlayerSeriesSeasonCounter.where(series: @current_series).max { |a,b| a.point_total <=> b.point_total }.player.color_code %>'><%= PlayerSeriesSeasonCounter.where(series: @current_series).max { |a,b| a.point_total <=> b.point_total }.player.name  %></td>
            </tr>
            <tr class="text-center  text-uppercase">
              <td>Games Played</td>
              <td><%= @current_series.games.count %></td>
            </tr>
            <tr class="text-center  text-uppercase">
              <td>Series High Victor Scale</td>
              <td><%= @current_series.games.pluck(:victory_score).max %></td>
            </tr>
          </tbody>
        </table>
        </div>
<a class="p-2  btn btn-warning" href="/games/new" role="button">+ New Game</a>
      </div>
    </p>
  </div>
</div>
<!-- End Current Series Code -->
<!-- Start Series/Seasons Stats -->
<div class="row mb-2">
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 border-danger">
      <div class="card-body d-flex flex-column align-items-center">
        <h3 class="mb-0">
          <p class="text-dark">Series Rules</p>
        </h3>
        <ul class="list-group ">
          <div class="mb-1 text-muted">
          <li class="list-group-item text-white bg-danger">A full season is first to <strong>200 Series Play points</strong>.</li>
          <li class="list-group-item list-group-item-warning">Each series in a season is the first player to <strong>5 wins</strong></li>
          <li class="list-group-item text-white bg-danger"><strong>1 win</strong> in series play is worth <strong>10 points</strong> to your series play point total</li>
          <li class="list-group-item list-group-item-warning">Winning the series is worth an extra <strong>20 points</strong></li>
          <li class="list-group-item text-white bg-danger ">A season would be first player to <strong>20 wins</strong> (or 15 if a player won 3 series)</li>
          <li class="list-group-item  list-group-item-warning">All wins count normally towards career gamerscore</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 border-danger">
      <div class="card-body d-flex flex-column align-items-center">
        <h3 class="mb-0">
          <p class="text-dark">Games Won In Series</p>
        </h3>
        <table class="table table-hover table-bordered table-dark">
          <thead>
            <tr class="text-center">
              <% @ordered_players.each do |player| %>
                <th scope="col" class="text-center  text-uppercase" style="background-color:#<%=player.color_code%>;" ><%=player.name%></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <% @ordered_players.each do |player| %>
                <td><%= Game.where(series: @current_series, winner_id: player.id).count %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 border-danger">
      <div class="card-body d-flex flex-column align-items-center">
        <h3 class="mb-0">
          <p class="text-dark">Series Won In Season</p>
        </h3>
        <table class="table table-hover table-bordered table-dark">
          <thead>
            <tr class="text-center">
              <% @ordered_players.each do |player| %>
                <th scope="col" class="text-center  text-uppercase"  style="background-color:#<%=player.color_code%>;"><%=player.name%></th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <% @ordered_players.each do |player| %>
                <td><%=Series.where(winner_id: player.id, season: @current_series.season).count%></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- End Series/Seasons Stats  -->
